html, body {
    height: 100%;
}

body {
    background: #B4d4db;
    /*linear-gradient(to bottom, #ccf5ed, #b6e3da, #70dcce, #80bac6, #264b53);*/
    margin: 0;
    padding: 0;
}

/* .piechart {
    width: 500px;
    height: 300px;
} */

.title {
    text-align: center;
    padding: 70px;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.maincontainer {
    display: flex;
    justify-content: left;
    padding-left: 85px;
    align-items: center;
    margin: 0;
    width: 2000px;
}

.maincontainer2 {
    display: flex;
    justify-content: left;
    padding-left: 85px;
    align-items: center;
    margin: 0;
    width: 1000px;
}


.mainbox {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1); /* Transparent background color */
    border-radius: 15px; /* Rounded corners */
    font-size: 24px;
    width: 550px;
    height: 300px;
}

.percent {
    text-align: center;
    /* padding: 20px; */
    margin-top: -150px;
    background-color: rgba(255, 255, 255, 0); /* Transparent background color */
    border-radius: 15px; /* Rounded corners */
    font-size: 24px;
    width: 550px;
    height: 300px;
}

#type1 {
    padding-left: 300px;
    padding-bottom: 40px;
}

#type2 {
    padding-left: 300px;
    padding-bottom: 40px;
}

#type3 {
    padding-left: 300px;
}

#psign {
    font-size: 56px;
    font-weight: 700;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

#ptext {
    margin-top: 0;
}

.header {
    background: #373437; /* Background gradient for animation */
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden; 

    /* background-color: #373437;
    color: #fff;
    text-align: center;
    padding: 20px; */
}

@keyframes windStrands {
    0% {
        transform: translateY(0);
        background-position: 0 -100%; /* Start from the top */
    }
    100% {
        transform: translateY(100%);
        background-position: 0 100%; /* End at the bottom */
    }
}

h1 {
    vertical-align: top;
    margin-top: 5px;
    height: 1px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}

.header-text {
    font-size: 36px;
    color: white;
    position: relative;
    z-index: 1; /* Place text above the animation */
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Use the same height as the header */
    background: linear-gradient(180deg, transparent 10%, rgba(255, 255, 255, 0.2) 30%); /* Strands effect (top to bottom) */
    animation: windStrands 3s linear 0.06s 1 normal forwards; /* Animation runs once and keeps end effect */
}

.header-image {
    text-align: right; /* Align content to the right within the header */
    /* position: relative; */
}

#logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain the image's aspect ratio */
    position: absolute;
    bottom: 697px; /* Adjust the distance from the top as needed */
    right: 10px; /* Adjust the distance from the right as needed */
    width: 85px;
}

