html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #cde6e1, #ccf5ed, #70dcce, #80bac6, #264b53);
    margin: 0;
    padding: 0;
}

header {
    background-color: #373437;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    vertical-align: top;
    margin-top: 5px;
    height: 1px;
    padding-bottom: 20px;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #D3D3D3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0073e6;
    color: #fff;
}
